@model ProblemsBlog.Models.UserPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserPost</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempvalue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempvalue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserPostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
