@model ProblemsBlog.Models.Comment
@using ProblemsBlog.Models
@{
    IEnumerable<Comment> allComments = ViewData["AllComments"] as IEnumerable<Comment>;
    Int32 a = allComments.Count();
}

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/blog-post.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1>@ViewBag.UserPost.PostTitle</h1>
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> প্রকাশিত হয়েছে- @ViewBag.UserPost.Time</p><hr>
            <!-- Author -->
            <p class="lead"> <a href="/Registration/Details/@ViewBag.UserPost.UserId" style="text-decoration: none">লিখেছেন-@ViewBag.UserPost.Author</a></p> <hr>
            <!-- Preview Image -->
            <img class="img-responsive" src="/@ViewBag.UserPost.Image"><hr>
            <!-- Post Content -->
            <p class="lead">@ViewBag.UserPost.PostContent</p><hr>

            <!-- ......................................................Comments Form -->
            <div class="well">

                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <div class="control-label col-md-4"><h4>Leave a Comment:</h4></div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.UserComment, new { style = "width:400px;height:150px" })
                                @Html.ValidationMessageFor(model => model.UserComment)

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-7">
                                <input type="submit" value="Publish" class="btn btn-Primary" />
                            </div>

                        </div>
                    </div>

                }
            </div>

        </div> @*end of first col-lg-8*@

        <div class="col-lg-4"></div>
    </div>
</div>

<h3>মতামত দিয়েছেন:@a জন </h3>
@if (allComments != null)
{
    foreach (Comment v in allComments)
    {

        <div class="container">

            <div class="row well">

                @*Commenter Name*@
                <div class="col-sm-5"><h3>@v.UserName</h3></div>

                @*Comments*@

                <div class="col-sm-7">@v.UserComment </div>

            </div>

        </div>
    }
}