
@model ProblemsBlog.Models.Comment

@using ProblemsBlog.Context
@using ProblemsBlog.Models
@{
    IEnumerable<Comment> allComments = ViewData["AllComments"] as IEnumerable<Comment>;
    Int32 a = allComments.Count();
}

@*@{ IEnumerable<User> aUser = ViewData["CommentImage"] as IEnumerable<User>;}*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>UserInfo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #e6e6e6;
        }

        .navbar {
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 3px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
            background-color: rgb(255,204,51);
        }

            .navbar li a, .navbar .navbar-brand {
                color: #fff !important;
            }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: black !important;
            //background-color: #E84C4C !important;
            background-color: #fff !important;
        }

        .navbar-inverse .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
            background-color: rgba(0, 0, 0, 0.8);
        }


        footer a:hover {
            color: #ffd24d;
            text-decoration: none;
        }


        #coverphoto {
            background-image: url("/Images/1.1.gif");
            background-repeat: no-repeat;
            background-size: 100% 40%;
        }

        .well {
            background-color: white;
            font-family: 'Patua One',cursive;
            letter-spacing: 1px;
        }



        .dropdown {
            position: relative;
            display: inline-block;
        }


            li a:hover, .dropdown:hover .dropbtn {
                background-color: rgb(255,204,51);
            }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(255,204,51);
            color: white;
            min-width: 150px;
            /*// box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #f9f9f9;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .contfor {
            width: 100px;
            height: 5px;
        }
        .texarea {
            width: 60%;
            height: 20%;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Post/UserHome">POPS-Blog</a>
            </div><!--end navheader-->

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropbtn">
                            <span class="glyphicon glyphicon-wrench"></span>Change-Password
                        </a>
                        <div class="dropdown-content">
                            <a href="/Registration/Edit/@Session["UserId"]">Edit Info</a>
                            <a href="#">Change Coverphoto</a>
                            <a href="#">Change ProfilePicture</a>
                        </div>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-send"></span>Contact-Admin</a></li>
                    <li><a href="/Registration/UserProfile"> <span class="glyphicon glyphicon-home"></span>User-Profile</a></li>
                    <li><a href="/Registration/Logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>

                </ul>
            </div><!--glyphicon divright-->

        </div> <!--end header container-fluid-->
    </nav>

    @*----------------------------------------------------------------------------------*@
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
             <div class="col-sm-8" style="margin-top: 100px">
                <!-- Blog Post -->
                <!-- Title -->
                <h1>
                    @*@Html.DisplayFor(model => model.PostTitle)*@
                    @ViewBag.UserPost.PostTitle
                </h1>
                <!-- Date/Time -->
                <p>
                    <span class="glyphicon glyphicon-time"></span> প্রকাশিত হয়েছে- @ViewBag.UserPost.Time
                    @*@Html.DisplayFor(model => model.Time)*@
                </p>

                <hr>
                <!-- Author -->
                <p class="lead">
                    <a href="/Registration/UserProfile" style="text-decoration: none">লিখেছেন-@ViewBag.UserPost.Author</a>
                    @*@Html.DisplayFor(model => model.Author)*@
                </p>
                <hr>
                <!-- Preview Image -->
                @*@html.displayfor(model=> model.Image)*@
                <img class="img-responsive" src="/@ViewBag.UserPost.Image">
                <hr>
                <!-- Post Content -->
                <p class="lead">
                    @ViewBag.UserPost.PostContent
                </p>
                <hr>
                <!-- Blog Comments -->
                <!-- Comments Form -->
                <div class="well">



                    @using (Html.BeginForm("UserSinglePostDetails", "Post", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-6" })*@

                                <div class="control-label col-md-4"><h4>Leave a Comment:</h4></div>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.UserComment,new { style="width:450px;height:180px"})
                                    @Html.ValidationMessageFor(model => model.UserComment)

                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-offset-5 col-md-7">
                                    <input type="submit" value="Publish" class="btn btn-Warning" />
                                </div>

                            </div>
                        </div>

                    }


                </div>


             </div> @*end of first col*@
            <div class="col-sm-4"></div>

           
        </div>
    </div>
    
    @*---------------------------------------------------------------------------------*@

    <div class="container" style="margin-top: 100px">
        
        <div class="row">
            <div class="col-sm-6">
                @*IEnumerable<Comment> allComments = ViewData["AllComments"] as IEnumerable<Comment>;}*@

                <h3>মতামত দিয়েছেন:@a জন </h3>
                @if (allComments != null)
                {

                    foreach (Comment v in allComments)
                    {
                     
                        <div class="container">

                            <div class="row well">

                                <div class="col-sm-4">
                                    @* commenter Image*@
                                    @*@if (aUser != null)
                            {
                                foreach (var user in aUser)
                                {
                                    <img src="@user.Image" class="img-responsive img-rounded" width="150" height="100"/>
                                }
                            }*@

                                </div>


                                @*Commenter Name*@
                                <div class="col-sm-4">
                                    <h4>@v.UserName</h4>
                                </div>

                                @*Comments*@

                                <div class="col-sm-4">
                                    <h5>@v.UserComment</h5>

                                </div>

                            </div>
                            <hr>
                        </div> @*end foreach container*@


                    }



                } @*end of commnts list*@




            </div>
            <div class="col-sm-6"></div>
        </div>
      

    </div>









    @*--------------------------------------------------------------------------------------*@



    
    
    


    <div class="container-fluid" style="padding:20px;background-color:#313131;color:#E84C4C">
    <footer>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <h4>All Right Reserved By 2016 <a href="https://mhpeash.github.io/Home.html">| mhpeash |</a> </h4>
            </div>
            <div class="col-sm-4"></div>
        </div>


    </footer>

    </div>




</body>
</html>