@model IEnumerable<ProblemsBlog.Models.UserPost>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home -POPS Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        
        .navbar {
            margin-bottom: 0px;
            background-color: rgb(255,204,51);
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 3px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

            .navbar li a, .navbar .navbar-brand {
                color: black !important;
            }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: black !important;
            background-color: #fff !important;
        }

        .navbar-inverse .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }



        .jumbocontent {
            font-family: monospace Lucida;
            text-align: center;
            padding: 50px;
            margin-top: 10px;
            font-weight: bolder;
        }

        .jumbotron {
            background-color: white;
        }

        .glyphicon {
            font-size: 20px;
            padding: 2px;
        }


        footer a:hover {
            color: #ffd24d;
            text-decoration: none;
        }

        .btn-danger {
            color: white;
            text-decoration: none;
        }
    </style>



</head>




<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Post/UserHome">POPS-Blog</a>
            </div><!--end navheader-->

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="/Registration/UserProfile"><span class="glyphicon glyphicon-home"></span>Profile</a> </li>
                    <li><a href="/Registration/Logout"><span class="glyphicon glyphicon-log-out"></span>Logout|@Session["Username"]|</a></li>
                </ul>
            </div><!--glyphicon divright-->

        </div> <!--end header container-fluid-->
    </nav>

    <div class="container-fluid jumbocontent" style="padding:0px">
        <div class="jumbotron"><h1>PO<span style="color: #E84C4C">PS BL</span>OG</h1></div>
        <hr>
    </div>

    <div class="container" style="background-color:rgba(0,0,0,0.8);padding:80px;margin-top:30px">

        @foreach (var item in Model)
        {



            <div class="row">

                <div class="col-lg-5">
                    <img src="/@Html.DisplayFor(modelItem => item.Image)" class="img-responsive  img-thumbnail" />
                </div>

                <div class="col-lg-7 well" style="margin-top: 40px">
                    <h3>
                        <a href="/Post/Details/@Html.DisplayFor(modelItem => item.UserPostId)" style="text-decoration: none; color: #313131">@Html.DisplayFor(modelItem => item.PostTitle)</a>
                    </h3>
                    <br>
                    <span class="glyphicon glyphicon-user">@Html.DisplayFor(modelItem => item.Author)</span>
                    <span class="glyphicon glyphicon-time">@Html.DisplayFor(modelItem => item.Time)</span> <br>


                    <br>  <h4>@item.PostContent.Substring(0, 100)......</h4> <br>
                    <button type="button" class="btn btn-default">

                        @Html.ActionLink("See More", "Details", new { id = @Html.DisplayFor(modelItem => item.UserPostId) })


                    </button>


                </div>


            </div>
            <hr>
        }

    </div>


    <div class="container-fluid" style="padding:20px;background-color:#313131;color:#E84C4C;margin-top:100px">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h4>All Right Reserved By 2016 <a href="https://mhpeash.github.io/Home.html">| mhpeash |</a> </h4>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>

        </footer>

    </div>



</body>
</html>